<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Disks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let disk of disksList; let i = index"
      (click)="onDisplayLendDisk(disk.id)">
      <ion-icon slot="start" name="disc" [color]="!disk.isLent ? 'success' : 'danger'"></ion-icon>
      <ion-label text-wrap>
        <h2>{{ disk.title }}</h2>
        <h6>{{ disk.artist }}</h6>
        <p>{{ disk.songs.length }} songs</p>
        <p *ngIf="disk.isLent">Borrowed by {{ disk.borrower }} on {{ disk.lendDate | date: "dd/MM/yyyy H:mm" }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
