<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let book of booksList; let i = index"
      (click)="onDisplayLendBook(book.id)">
      <ion-icon slot="start" name="book" [color]="!book.isLent ? 'success' : 'danger'"></ion-icon>
      <ion-label text-wrap>
        <h2>{{ book.title }}</h2>
        <h6>{{ book.author }}</h6>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
